* {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
  padding: 0;
  border: 0;
}

button:focus {
  outline:0;
}

.App, #root, .home-container {
  display: flex;
  flex-direction: column;
}

/* Header */

.movies-component-header, .home-component-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 1010pxs;
}

.header-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 1010px;
}

.home-header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header-title, .home-header-title {
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 5px;
  margin-left: auto;
  margin-right: auto;
}

.back-home-button {
  height: 23px;
  width: 20px;
  background-color: black;
  cursor: pointer;
}

.genre-buttons {
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 1010px;
}

.genre-buttons button, .home-header-description {
  background-color: black;
  color: white;
  padding-bottom: 5px;
}

.genre-buttons button:hover {
  text-decoration: underline;
}

/* Movies */

.movies-container {
  display: flex;
  padding: 0 200px;
  margin-top: 60px;
}

ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Movie */

.movie {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 30%;
  list-style-type: none;
  margin-bottom: 60px;
}

.movie-poster {
  height: 475px;
  width: 318px;
}

.movie-poster:hover {
  opacity: 0.8;
}

.movie-title {
  font-weight: 500;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 7px;
  color: black;
  opacity: 0.8;
}

.movie-title-anchor {
  color: black;
  text-decoration: none;
}

.movie-title-anchor:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

.movie-plot {
  font-size: 13px;
  margin-bottom: 10px;
}

.date-rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-release-date {
  font-size: 13px;
  font-style: italic;
  opacity: 0.8;
}

.movie-vote-average, .average-rating-title {
  font-size: 13px;
  font-style: italic;
  opacity: 0.8;
}
